/archive2.lnk
/auto-py-to-exe-2.42.0
/Default.rdp
/desktop.ini
/ip.txt
/MANUAL.txt
/pfghjc.txt
/PyProject.lnk
/rufus-4.3.exe
/SERVER.txt
/ssh.txt
/Telegram.lnk
/Visual Studio Code.lnk
/Документы - Ярлык.lnk
/Полоскина А.И.accdb
/Складские запасы1.xlsx
/Старый запрос.txt